
body {
	font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* background for the loader */
#loading {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background: black;
}

/* the rotating circle */
#loader {
	position: relative;
	left: calc(50% - 5vw);
	top: calc(50% - 5vw);

	border: 1.5vw solid #111111;
	border-radius: 50%;
	border-top: 1.5vw solid #333333;
	width: 7vw;
	height: 7vw;
	
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* main content */
#content {
	width: 100%;
	margin: auto;
}

/* container for primary content */
#lectures {
	z-index: -1;
	position: absolute;
	width: 78vw;
	float: right;
	right: 0;
	margin: 11vw 3vw 0 0;
}

/* the conainer at the very top */
#top {
	position: fixed;
	right: 0;
	top: 0;
	padding-top: 1vw;
	margin: 0 3vw;
	background: #fff;
	width: 78vw;
	text-align: center;
}

/* logo on the top */
#rta-logo {
	width: 100%;
}

h1 {
	font-size: 3vw;
	float: left;
	margin: 0 0 0.25vw 0;
}

/* modified bootstrap 4 table class */
.table {
	text-align: left;
	color: #373a3c;
	width: 100%;
	border-collapse: collapse;
	font-size: 1.5vw;
}

/* setting a specific width to every column */
.table th:nth-child(1),
.table td:nth-child(1) { width: 15%; }
.table th:nth-child(2),
.table td:nth-child(2) { width: 10%; }
.table th:nth-child(3),
.table td:nth-child(3) { width: 50%; }
.table th:nth-child(4),
.table td:nth-child(4) { width: 25%; }

.table tbody tr:nth-child(odd) {
	background: #f2f2f2;
}

.table tbody tr:nth-child(even) {
	color: #7a8185;
	font-weight: 200;
}

.table th,
.table td {
	padding: 0.75vw;
	border-top: 0.1vw solid #eceeef;
}

.table thead th {
	border-bottom: 0.2vw solid #eceeef;
}

/* content on the right side */
#side-bar {
	position: fixed;
	left: 0;
	margin: 2vw 0 0 2vw;
	width: 14.55vw;
}

/* classes for the content inside the side bar */
.side-cont {
	width: 10vw;
	min-height: 10vw;
	margin: 1vw;
	padding: 1vw;
	border: solid #eceeef 0.25vw;
}

.side-cont img {
	width: 100%;
}

/**
 * used to seperate daily info in a different
 * line from the lecture list
 */
#daily-cont {
	width: 100%;
	float: left;
}

/* container for the date and todays names */
#daily-info {
	font-size: 1.3vw;
	float: left;
	max-width: calc(100% - 2.75vw);
	color: #373a3c;
	padding: 0.25vw 2vw 0.25vw 0.75vw;
	margin-bottom: 0.4vw;
	border: solid #eceeef 0.2vw;
}

#date, #todays-names { float: left; }
#todays-names { color: #999999; }
#date { margin-right: 0.7vw; }
